body {
  height: 100vh;
  overflow-y: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #92b5b6;
  height: 98.5vh;
  width: 100%;
}

h3 {
  font-family: "Exo 2", sans-serif;
  font-size: 2.5rem;
  margin: 1%;
}

#image-containter {
  background: url("https://images.unsplash.com/photo-1550867049-20a00164c925?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1867&q=80");
  height: 20rem;
  width: 32rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
}

#textContainer {
  display: flex;
  justify-content: center;
}

#buttonContainer {
  display: flex;
  justify-content: center;
}

textarea {
  width: 17rem;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid rgba(170, 169, 169, 0.671);
  border-radius: 4px;
  background-color: #f8f8f8ea;
  font-size: 21px;
  resize: none;
  text-align: center;
  margin: 1rem 0;
  font-family: "Exo 2", sans-serif;
}

#pigTalk {
  font-weight: bolder;
  border-radius: 90%;
  margin-left: 15rem;
  padding: 1rem;
  text-align: right;
  font-family: "Hachi Maru Pop", cursive;
}

button {
  color: #ccc;
  font-size: 35px;
  border-radius: 10%;
  padding: 1rem;
  margin: 0 5vw;
  font-family: "Exo 2", sans-serif;
  width: 10rem;
}

.clearBtn {
  background-color: rgba(136, 135, 135, 0.705);
}

.piggyBtn {
  background-color: rgba(0, 0, 0, 0.705);
}
